@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --Orange: 26 100% 55%;
      --Pale-orange: 25 100% 94%;
      --Very-dark-blue: 220 13% 13%;
      --Dark-grayish-blue: 219 9% 45%;
      --Grayish-blue: 220 14% 75%;
      --Light-grayish-blue: 223 64% 98%;
      --White: 0 0% 100%;
      --Black: 0 0% 0%;
  }

  body {
    @apply flex min-h-screen w-full justify-center 
  }

  .navHover {
    @apply border-b-4 border-b-White hover:border-b-Orange transition ease-in-out duration-300
  }

  .popupMenuItem {
    @apply px-4 py-2 font-bold text-lg
  }

  .mainPageWrap {
    @apply flex-grow overflow-auto
  }
}